@{
    ViewBag.Title = "Khóa Tu Tuổi Trẻ";
}
<!--SECTION GIOITHIEU-->
<div class="hero align-items-start min-vh-100  pt-5 pb-5 ">
    <div class="img-bg rellax">
        <img src="~/assets/client/images/header2.png" alt="Image" class="img-fluid" width="100%">
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-start mt-8">
            <div class="col-lg-5">
                <h1 class="heading" data-aos="fade-up">Khoá tu tuổi trẻ</h1>
                <p class="mb-3" data-aos="fade-up">Nếu đây là lần đầu bạn tham gia khoá tu tuổi trẻ cùng bọn tớ, hãy cùng nhau khám phá xem bọn mình sẽ được tham gia những chương trình gì nhé.</p>
                <p class="mt-2" data-aos="fade-up" data-aos-delay="300"><a href="#dangky" class="btn btn-primary">Đăng ký ngay</a></p>
            </div>
        </div>
    </div>
</div>

<!--SECTION GIOITHIEU-->
<section id="gioithieu">
    <div class="container">
        <div class="row align-items-center justify-content-between mt-9 mb-9">

            <div class="col-lg-6 order-lg-2">
                <div class="image-stack mb-5 mb-lg-0">

                    <div class="image-stack__item " data-aos="fade-up" data-aos-delay="100" data-rellax-percentage="0.5">
                        <img src="~/assets/client/images/tuoitre.png" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 order-lg-1">
                <div>
                    <h2 class="heading mb-3" data-aos="fade-up" data-aos-delay="100">Xin chào bạn mới!</h2>

                    <p class="mb-5" data-aos="fade-up" data-aos-delay="200">Mời các bạn cùng lên "chuyến tàu quá khứ", xem lại những thước phim đậm màu ký ức của khóa tu "Vẽ Nắng"</p>

                    <div data-aos="fade-up">
                        <a href="https://youtu.be/4rz8ZzJ_KIw" class="play-button align-items-center d-flex glightbox3 btn btn-md bg-gradient-success">
                            <span class="icon-button me-3">
                                <span class="icon-play"></span>
                            </span>
                            <span class="caption">Xem ngay</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--SECTION HOATDONGNOIBAT-->
<section id="noibat" style="background-color: #f2f2f2;">
    <div data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row align-items-center justify-content-between mb-5">
                <div class="col-lg-6 mt-6" data-aos="fade-up">
                    <h2 class="heading">Các chương trình nổi bật</h2>
                </div>
                <div class="" data-aos="fade-up" data-aos-delay="100">
                    <div id="destination-controls" style="display: none;">
                        <span class="prev me-3" data-controls="prev">
                            <span class="icon-chevron-left"></span>
                        </span>
                        <span class="next" data-controls="next">
                            <span class="icon-chevron-right"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="destination-slider-wrap">
            <div class="destination-slider mb-8 mt-5">
                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/hoadang.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Đêm hoa đăng</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/ganket.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Gắn kết yêu thương</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/vannghe.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Đêm văn nghệ</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/tinhtoa.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Thiền hành, tĩnh toạ</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/giadinh.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Sinh hoạt gia đình</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/phapdam.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Pháp đàm, toạ đàm</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/luatrai.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Đêm lửa trại</a></h5>
                    </div>
                </div>

                <div class="destination">
                    <div class="thumb">
                        <img src="~/assets/client/images/tungkinh.jpeg" alt="Image" class="img-fluid">
                    </div>
                    <div class="mt-2">
                        <h5><a>Khoá lễ tụng kinh niệm Phật</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FORM THƯ VIỆN -->
<section id="thuvien">
    <div class="container">
        <div class="row align-items-center justify-content-between mb-4 mt-4">
            <div class="col-lg-6 mt-6" data-aos="fade-up">
                <h2 class="heading">Thư viện ảnh</h2>
            </div>
            <div class="photo-gallery mt-4 " data-aos="fade-up" data-aos-delay="100">
                <div class="container">
                    <div class="row photos">
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/1.jpg"></a></div>
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/2.jpg"></a></div>
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/3.jpg"></a></div>
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/4.jpg"></a></div>
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/5.jpg"></a></div>
                        <div class="col-sm-4 col-md-4 col-lg-4  mb-1"><a data-lightbox="photos"><img style="border-radius: 0.40rem;" class="img-fluid" src="~/assets/client/images/6.jpeg"></a></div>
                    </div>
                </div>
            </div>
            <div class="row align-item center justify-content-between text-center mt-3">
                <p data-aos="fade-up" data-aos-delay="300">
                    <a href="https://www.facebook.com/banvanhoavanduc/photos_albums" target="_blank" class="btn btn-primary">Xem thêm [...]</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!--CAU HOI-->
<div id="cauhoi" class="section" style="background-color: #f2f2f2;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <img src="~/assets/client/images/question.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3 class="heading">FAQ</h3>
                <h5 class="heading mb-5">Câu hỏi  thường gặp???</h5>

                <div class="custom-accordion" id="accordion_1">
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Có được sử dụng điện thoại hay các thiết bị điện tử khác không?</button>
                        </h2>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Nhằm để việc tu tập của các bạn được đảm bảo về sức khoẻ và tinh thần, các bạn nên để điện thoại ở nhà khi tham gia khoá tu. Nếu đem thì sẽ gửi BTC đến kết khoá sẽ trả lại cho các bạn.
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Đồ ăn có được mang theo trong suốt khoá tu không?</button>
                        </h2>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Để tránh việc ăn phi thời và cũng như vấn đề vệ sinh ở nơi sinh hoạt chung, BTC cũng sẽ thu giữ bánh kẹo, đồ ăn vặt,… trong thời gian kiểm tra hành lý ạ!
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->
                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to link your paypal and bank account?</button>
                        </h2>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
                            </div>
                        </div>

                    </div> <!-- .accordion-item -->


                    <div class="accordion-item">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Có được mang theo boardgame, bài bói, tarot, lô tô… không?</button>
                        </h2>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Các bạn hoan hỷ không mang theo các loại bài, cờ bạc, các trò chơi mang tính tập thể,… Trước khi chính thức tham gia khoá tu tụi mình sẽ có một đợt kiểm tra hành lý, nếu có sẽ tiến hành thu giữ tạm thời và trả lại sau khoá tu ạ!
                            </div>
                        </div>

                    </div> <!-- .accordion-item -->

                </div>
            </div>
        </div>
    </div>
</div>


<!-- FORM ĐĂNG KÝ -->
<section id="dangky" style="background-image: url('/assets/client/images/register.png'); background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
                <div class="card z-index-0 mt-7">
                    <div class="card-header text-center">
                        <h4>Form đăng ký tham dự khoá tu</h4>
                        <h4>@ViewBag.TenKhoaTu</h4>
                        <h5>Thời gian: <span class="text-bolder">@ViewBag.Ngaybatdau - @ViewBag.Ngayketthuc</span></h5>
                        <h5>Địa điểm: <span class="text-bolder">@ViewBag.Diadiem</span></h5>
                        <h5>Số lượng: <span class="text-bolder"> 200 tu sinh</span></h5>
                        <h5>Chi phí: <span class="text-bolder">@ViewBag.Chiphi</span></h5>
                        <br>
                    </div>
                    <hr class="horizontal dark mt-0">
                    <div class="card-body">
                        <form action="/Home/DangKy" method="post">
                            <div class="row">
                                @Html.DropDownList("IdKhoaTu", null, htmlAttributes: new { @class = "hidden" })
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group mb-2">
                                        <label for="ts_ten" class="form-label">Họ tên(*):</label>
                                        <input type="text" class="form-control" id="ts_ten" placeholder="Họ tên của bạn..." name="Hoten" required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group mb-4">
                                        <label for="ts_phapdanh" class="form-label">Pháp danh (nếu có):</label>
                                        <input type="text" class="form-control" id="ts_phapdanh" placeholder="Pháp danh của bạn..." name="Phapdanh" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label for="ts_ngaysinh" class="form-label">Ngày sinh(*):</label>
                                        <input class="form-control" id="ts_ngaysinh" name="Namsinh" type="date" required />
                                        <small>VD: 31/01/1999</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label for="ts_gioitinh" class="form-label">Giới tính(*):</label>
                                        <select id="ts_gioitinh" name="Gioitinh" class="form-select" aria-label="Default select example" required>
                                            <option disabled="disabled" selected>Chọn giới tính</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nu">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="ts_cmnd" class="form-label">CMND/CCCD(*):</label>
                                        <input type="text" class="form-control" id="ts_cmnd" placeholder="Số căn cước của bạn..." name="CMND">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label for="email" class="form-label">Địa chỉ Email(*):</label>
                                        <input class="form-control" id="ts_email" name="Email" placeholder="Nhập email..." type="email" required>
                                        <small>Ví dụ: bvhtt@gmail.com</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label for="ts_sdt" class="form-label">Số điện thoại(*):</label>
                                        <input type="tel" class="form-control" id="ts_sdt" placeholder="Nhập đủ 10 số nha..." name="SDT" pattern="[0-9]{10}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="ts_sdtnt" class="form-label">Số điện thoại người thân(*):</label>
                                        <input type="tel" class="form-control" id="ts_sdtnt" placeholder="Nhập đủ 10 số nha..." name="SDT_Nguoithan" pattern="[0-9]{10}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for="ts_sdtnt" class="form-label">Phương thức di chuyển:</label>
                                        <select name="DiChuyen" class="form-select">
                                            <option value="chuavanduc">Chùa Vạn Đức</option>
                                            <option value="tutuc">Tự túc</option>
                                            <option value="khac">Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="mb-4">
                                        <label for="ts_sdtnt" class="form-label">Địa chỉ:</label>
                                        <input type="text" class="form-control" id="ts_diachi" placeholder="Địa chỉ của bạn là..." name="DiaChi" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Bạn đã có áo tràng chưa:</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="co_aotrang" value="true" checked>
                                            <label class="form-check-label" for="co_aotrang">
                                                Đã có áo tràng.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="chuaco_aotrang" value="false">
                                            <label class="form-check-label" for="chuaco_aotrang">
                                                Chưa có áo tràng. (Liên hệ mượn trong khoá tu)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="ts_dicung" class="form-label">Bạn bè đi cùng</label>
                                        <br>
                                        <label class="switch">
                                            <input type="checkbox" id="is_dicung" name="is_dicung" onclick="isDiCung()">
                                            <span class="slider round"></span>
                                        </label> Thêm bạn bè đi cùng
                                        <div id="ts_dicung" name="ts_dicung" style="display: none ;">
                                            <input id="stt_dicung" type="search" class="form-control" placeholder="STT người đi cùng..." name="DiChung" onblur="javascript:CheckExists()">
                                            <small id="txt_hoten" class="text-bolder">(Nhập STT của một người bất kì mà bạn muốn đi cùng)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input id="lastcheck" class="form-check-input" type="checkbox" name="remember"> Bạn hãy kiểm tra lại đầy đủ thông tin trước khi nhấn nút Hoàn thành nhé!
                                    </label>
                                </div>
                            </div>
                            <button type="submit" id="save" class="btn btn-success form-button" disabled>Hoàn thành đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tra cứu thông tin đăng ký</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Home/TraCuu" method="post">
                <div class="modal-body">
                    <div class="row">
                        @Html.Raw(TempData["err"])
                        <div class="col-md-12 text-center hidden" id="errorhtml">
                            <img src="~/assets/client/images/404 error.png" alt="Error404" width="350" height="auto" />
                            <hr class="horizontal dark mt-3 ">
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Họ và tên(*):</label>
                                <input type="text" class="form-control" id="hoten" placeholder="Nhập số điện thoại của bạn" name="SName" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Số điện thoại(*):</label>
                                <input type="text" class="form-control" id="sdt" placeholder="Nhập số điện thoại của bạn" name="SPhone" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Địa chỉ Email(*):</label>
                                <input type="email" class="form-control" id="email" placeholder="Nhập địa chỉ email của bạn" name="SEmail" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal" aria-label="Close">Hủy bỏ</button>
                        <button type="submit" class="btn btn-sm btn-success">Tra cứu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function CheckExists() {
         $.ajax({
            url:'@Url.Action("CheckExists")' ,
            type: "GET",
            data: {
                idTS: $("#stt_dicung").val()
            }
            , dataType: "json",
             success: function (data) {
                 $("#txt_hoten").text('* Họ tên người đi cùng: '+data);
            },
             error: function () {
                 $("#stt_dicung").val('');
                 $("#txt_hoten").text('');
                alert('Không tồn tài tu sinh này!');
            }
        });
        return false;
    }
     function Tracuu() {
         $.ajax({
            url:'@Url.Action("TraCuu")' ,
            type: "GET",
             data: {
                 Hoten: $("#SName").val(),
                 SDT: $("#SPhone").val(),
                 Email: $("#SEmail").val()
            }
            , dataType: "json",
             success: function (data) {
                 if (data.status == false) {
                     $("#errorhtml").removeClass("hidden");
                 }
                 else {
                     alert('tìm thấy');
                 }
            },
             error: function () {
                 $("#errorhtml").removeClass("hidden");
            }
        });
        return false;
    }
    function ModalTracuu() {
        $("#searchModal").modal('show');
    }
</script>