@{
    ViewBag.Title = "Tra cứu";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/client/images/logo-ban-van-hoa.png">
    <link rel="icon" type="image/png" href="~/assets/client/images/logo-ban-van-hoa.png">
    <title>Tra cứu thông tin • Ban Văn Hóa Thông Tin Chùa Vạn Đức</title>
    <link id="pagestyle" href="~/assets/client/css/style.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <link rel="stylesheet" href="~/assets/client/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/assets/client/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/assets/client/css/tiny-slider.css">
    <link rel="stylesheet" href="~/assets/client/css/aos.css">
    <link rel="stylesheet" href="~/assets/client/css/flatpickr.min.css">
    <link rel="stylesheet" href="~/assets/client/css/glightbox.min.css">

</head>
<body class="">
    <main class="main-content">
        <div class="container">
            <div class="card text-center mt-5">
                <div class="card-body">
                    <img height="250" width="auto" src="https://img.freepik.com/free-vector/men-success-laptop-relieve-work-from-home-computer-great_10045-646.jpg?t=st=1669708595~exp=1669709195~hmac=4eafd67e38fd9cae1584df9198652e5546a3ffdceff1efdefcc19c7ded9c0751" alt="" />
                    <h5 class="text-bolder text-secondary ">Hooray...</h5>
                    <p>
                        <i class="icon-bullhorn text-primary"> Welcome:</i>
                        Xin chào <b>@ViewBag.Hoten</b>, Dưới đây là Số thứ tự của bạn đã đăng ký trước đó.<br />
                        <i class="text-secondary">Nếu có bất cứ thay đổi thông tin nào hãy cập nhật cho chúng tớ biết nhé!!</i>
                    </p>
                    <hr class="horizontal dark" />
                    <h3 class="text-dark">@ViewBag.idTS</h3>
                    <hr class="horizontal dark" />
                    <a href="/Home" class="btn btn-dark btn-sm"><i class="icon-arrow-circle-left"></i> Trở lại trang chủ</a>
                    <a href="javascript:ModalUpdate()" class="btn btn-warning btn-sm"><i class="icon-edit"></i> Cập nhật thông tin</a>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-bolder text-start">Danh sách các khóa tu bạn đã đăng ký:</h4>
                            <!-- New-->
                            <div class="new mt-0 row">
                                @if (ViewBag.data == null)
                                {
                                    Response.Redirect("/Home");
                                }
                                @foreach (var item in ViewBag.data)
                                {
                                    <div class="col-lg-6">
                                        <div class="flex items-center justify-center min-h-screen">
                                            <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 py-6 px-3">
                                                <div class="bg-white shadow-xl rounded-lg overflow-hidden" style="border-radius: 0.40rem;">
                                                    <div class="bg-cover bg-center min-height-300 p-4" style="background-image: url(https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
                                                    </div>
                                                    <div class="flex p-4 border-t border-gray-300 text-gray-700">
                                                        <h5>@item.Ten</h5>
                                                        <p class="text-secondary">@item.DiaDiem</p>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-lg-5 item">
                                                                    <p class="text-secondary mb-0 text-sm">@item.Ngaybatdau</p>
                                                                </div>
                                                                <div class="col-lg-2 item">
                                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="col-lg-5 item">
                                                                    <p class="text-secondary mb-0 text-sm">@item.Ngayketthuc</p>
                                                                </div>
                                                            </div>
                                                            <p ></p>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <!--Area 3-->
                                                    <div class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100">
                                                        <div class="flex items-center pt-2">
                                                                <a href="javascript:Confirm(@item.id)" class="btn btn-success btn-xs mb-1"><i class="icon-check-circle"></i> Xác nhận chắc chắn tham gia</a>
                                                                <a href="javascript:Cancel(@item.id)" class="btn btn-primary btn-xs mb-1"><i class="icon-cancel"></i> Tiếc quá, có việc bận</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!--End new-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="updateInfo" tabindex="-1" aria-labelledby="updateInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin cá nhân</h5>
                    <button type="button" class="btn-close text-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Home/UpdateInfo" method="post">
                        <div class="row text-left text-start">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <label>Số thứ tự của bạn</label>
                                    <div class="col-md-12">
                                        <input type="text" name="STT" value="@ViewBag.idTS" class="form-control" required readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <div class="col-md-12">
                                        <input type="text" name="Hoten" value="@ViewBag.Hoten" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="form-group">
                                    <label>Pháp danh</label>
                                    <div class="col-md-12">
                                        <input type="text" name="Phapdanh" value="@ViewBag.Phapdanh" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>CMND | CCCD</label>
                                    <div class="col-md-12">
                                        <input type="text" name="CMND" value="@ViewBag.CMND" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <div class="col-md-12">
                                        <input type="text" name="DiaChi" value="@ViewBag.DiaChi" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="col-md-12">
                                        <input type="text" name="Email" value="@ViewBag.Email" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <div class="col-md-12">
                                        <input type="text" name="SDT" value="@ViewBag.SDT" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>Số điện thoại người thân</label>
                                    <div class="col-md-12">
                                        <input type="text" name="SDTKhac" value="@ViewBag.SDTKhac" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-sm">Cập nhật thông tin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận tham gia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("ConfirmJoin", "Home"))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                Bạn sẽ chắc chắn tham gia khóa tu này??
                                <input class="form-control" id="idTS" type="hidden" name="idTS" value="@ViewBag.idTS" />
                                <input class="form-control" id="idKT" type="hidden" name="idKT" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <input type="submit" value="Xác nhận" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận không tham gia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("CancelJoin", "Home"))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                Tiếc quá, Tôi không tham gia được khóa tu này??
                                <input class="form-control" id="idTSinh" type="hidden" name="idTS" value="@ViewBag.idTS" />
                                <input class="form-control" id="idKTu" type="hidden" name="idKT" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <input type="submit" value="Xác nhận" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        function ModalUpdate() {
            $("#updateInfo").modal('show');
        }

        function Confirm(idKT) {
            $("#idKT").val(idKT);
            $("#confirmModal").modal('show');
        }
        function Cancel(idKT) {
            $("#idKTu").val(idKT);
            $("#cancelModal").modal('show');
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
</body>
</html>
