@using QuanLyKhoaTu.Models;
@model dynamic
@{
    ViewBag.Permission = "quanly";
    ViewBag.Title = "Quản lý Khóa Tu";
    ViewBag.Controller = "Khóa Tu";
    ViewBag.Link = "/Admin/KhoaTus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-4">
        <div class="card border-0 shadow mb-2">
            <div class="card-body px-3 py-2">
                <form action="/Admin/LoaiKhoaTus/Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        @Html.Raw(TempData["err"])
                        <div class="col-md-12">
                            <div>
                                <label for="first_name">Loại khóa tu</label>
                                <input class="form-control" id="ten" type="text" name="Ten" placeholder="Loại Khóa Tu" required>
                            </div>
                            <button class="btn btn-success btn-xs mt-2 animate-up-2" type="submit">Thêm mới</button>
                        </div>
                    </div>
                </form>
                <hr class="horizontal dark">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <tbody>
                        @foreach (LoaiKhoaTu item in Model.LoaiKhoaTu)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.Ten)</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:Edit_LoaiKhoaTu(@item.id,'@item.Ten')" class="btn btn-xs btn-info mb-0"><i class="fa fa-pencil-square"></i> </a>
                                    <a href="javascript:Del_LoaiKhoaTu(@item.id)" class="btn btn-xs btn-danger mb-0"><i class="fa fa-trash"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card border-0 shadow mb-4">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-6 align-items-center">
                        <h6 class="mb-0">Danh sách khóa tu</h6>
                        <small class="text-danger"><i class="fa fa-bullhorn"></i> Chỉ active 1 khóa trước khi public link đăng ký.</small>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-sm bg-gradient-dark mb-0" href="javascript:Create_KhoaTu();"><i class="fas fa-plus-circle"></i>&nbsp;Thêm khóa tu</a>
                    </div>
                </div>
                <hr class="horizontal dark">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <tbody>
                            @foreach (KhoaTu item in Model.KhoaTu)
                            {
                                <tr>
                                    <td class="text-center">
                                        <div class="d-flex flex-column justify-content-center ">
                                            <h6 class="mb-0 text-xs mb-0">#@Html.DisplayFor(modelItem => item.id)</h6>
                                            <p class="text-xs mb-0">
                                                @if (item.Active == true)
                                                { 
                                                    <a href="#" data-id="@item.id" class="badge badge-xs bg-gradient-success">Active</a>
                                                }
                                                else
                                                {
                                                    <a class="text-secondary">Not Active</a>
                                                }
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.Ten)</p>
                                                <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.LoaiKhoaTu.Ten)</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.DiaDiem)</p>
                                            <p class="text-xs text-secondary mb-0">Chi phí: @Html.DisplayFor(modelItem => item.Chiphi) đ</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">
                                            @item.Ngaybatdau.Value.ToLongDateString()
                                         </p>
                                    </td>

                                    <td>
                                    </td>

                                    <td>
                                        <a href="/Admin/KhoaTus/Edit/@item.id" class="btn btn-xs btn-info mb-0"><i class="fa fa-pencil-square"></i> </a>
                                        <a href="javascript:Del(@item.id)" class="btn btn-xs btn-danger mb-0"><i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createKhoaTu" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm khóa tu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Admin/KhoaTus/Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        @Html.Raw(TempData["err"])
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="tenkhoatu">Tên khóa tu</label>
                                <input class="form-control" id="tenkhoatu" type="text" name="Ten" placeholder="Tên khóa tu" required>
                            </div>
                        </div>

                        <div class="col-md-8 mb-3">
                            <div>
                                <label for="diadiem">Poster khóa tu</label>
                                <input class="form-control" id="File" name="File" type="file" placeholder="Poster khóa tu" required>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="loaikhoatu">Loại Khóa Tu</label>
                                @Html.DropDownList("IdLoaiKhoaTu", null, htmlAttributes: new { @class = "form-select" })
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <div>
                                <label for="diadiem">Địa điểm tổ chức</label>
                                <input class="form-control" id="diadiem" name="DiaDiem" type="text" placeholder="Địa điểm tổ chức" required>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div>
                                <label for="chiphi">Chi phí</label>
                                <input class="form-control" id="chiphi" name="Chiphi" type="text" placeholder="Chi phí" value="0" required>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="ngaybatdau">Ngày bắt đầu</label>
                                <input class="form-control" id="ngaybatdau" type="date" name="Ngaybatdau" placeholder="Ngày bắt đầu">
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label for="ngayketthuc">Ngày Kết thúc</label>
                                <input class="form-control" id="ngayketthuc" type="date" name="Ngayketthuc" placeholder="Ngày kết thúc">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm mt-2 animate-up-2" type="submit">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Delete", "KhoaTus"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            Chọn xác nhận xóa để xóa khóa tu này?
                            <input class="form-control" id="id" type="hidden" name="id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="editLoaiKhoaTu" tabindex="-1" aria-labelledby="editLoaiKhoaTuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa loại khóa tu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Edit", "LoaiKhoaTus"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input class="form-control" id="idloai" type="hidden" name="id" />
                            <input class="form-control" id="tenloai" type="text" name="Ten" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLoaiKhoaTu" tabindex="-1" aria-labelledby="deleteLoaiKhoaTuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Delete", "LoaiKhoaTus"))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            Chọn xác nhận xóa để xóa loại khóa tu này?
                            <input class="form-control" id="idloaikhoatu" type="hidden" name="id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xác nhận" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
<script>

    function Create_KhoaTu() {
        $("#createKhoaTu").modal('show');
    }
    function Del(id) {
        $("#id").val(id);
        $("#deleteModal").modal('show');
    }
    function Del_LoaiKhoaTu(id) {
        $("#idloaikhoatu").val(id);
        $("#deleteLoaiKhoaTu").modal('show');
    }

    function Edit_LoaiKhoaTu(id, name) {
        $("#idloai").val(id);
        $("#tenloai").val(name);
        $("#editLoaiKhoaTu").modal('show');
    }
</script>
